<div id="customer-module" ng-app="customerModule">

  <a ui-sref="customerDashboard" class="btn btn-primary">Dashboard</a>
    <a ui-sref="customerProposal" class="btn btn-primary">Proposal</a>
    <a ui-sref="customerEstimate" class="btn btn-primary">Estimate</a>
    <a ui-sref="customerReports" class="btn btn-primary">Reports</a>
    <a ui-sref="customerActivity" class="btn btn-primary">Activity</a>

    <a href="/logout" class="btn btn-primary">Logout</a>
  
    <div ui-view></div>


</div>